doctype 5
html
  head
    title=title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/styles/bootstrap.min.css', media="screen")
    link(rel='stylesheet', href='/styles/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/styles/page.css')
    script(src='/scripts/head.min.js')
    script(src='/scripts/page.js')
  body
    block content